quests/02_action_nodes_edit.json.json
{
  "name": "quests/02_action_nodes_edit.json",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ],
      "id": "cd69e048-60c5-4aa6-a9fd-a98b655c070b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -80
      ],
      "id": "995bac66-eb15-40a4-bf11-e8b553e79675",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e004373-7af2-484c-bb0b-edd2f82dfd7b",
              "name": "유저 아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "73a71496-12c4-46c5-bc33-52ac465b05ec",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -80
      ],
      "id": "6f3912c7-fd36-4440-aaad-0acbc8b713d1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2424119c-d9d4-4214-a29f-da129daae94f",
  "meta": {
    "instanceId": "ffdee27c5ac96a4ad856bb831a5135d6c6b403bb2f8bc6e2eb43d54aae46977e"
  },
  "id": "ci3JK6opjKdRuVjP",
  "tags": []
}