quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "테스트]예비 메일",
        "message": "={{ $('Extract from File').item.json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        -352
      ],
      "id": "18ec4502-fc5c-4f08-865d-e68b430625b7",
      "name": "Send a message",
      "webhookId": "bdd871ed-06c7-4b58-8ee5-1d965786f778",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        -368
      ],
      "id": "cd587822-956d-47ac-b7ec-b78b2e712fda",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1072,
        -352
      ],
      "id": "9a42ce5c-9fee-42f6-86ba-e486408f2567"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1_xBRgRQPLcBPsN2gUlaj9i668W1GYpMQ",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -672
      ],
      "id": "6026f890-9b70-4898-9525-f70da406595d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xK0lMG0gCwTAeGNw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb22c619-827b-4aee-9fc6-8482874609c6",
              "name": "data",
              "value": "={{ $('Loop Over Items').item.json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -352
      ],
      "id": "00b50aa1-3641-404f-9ac5-bb783a15f12a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1000,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1_xBRgRQPLcBPsN2gUlaj9i668W1GYpMQ",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -672
      ],
      "id": "0ee7e13b-2785-4508-87c2-6ab9a488ccda",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xK0lMG0gCwTAeGNw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3df410f4-e831-42ad-9127-27feaeb27f1e",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        -672
      ],
      "id": "72e5b0e3-8704-4529-9f3c-efcce2cc8025",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        -352
      ],
      "id": "4b0804f3-824d-4930-b0e8-b02b7200c295",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        -352
      ],
      "id": "4cc1a10d-4879-4c7e-a265-59b50692b64f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xK0lMG0gCwTAeGNw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pbUfIxxkgtbV-LExLhJDhmxTx9iCZaQmvT8OJ3JlTbc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pbUfIxxkgtbV-LExLhJDhmxTx9iCZaQmvT8OJ3JlTbc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -352
      ],
      "id": "f2fa88f3-c4c9-4bab-a9ab-d6d597a12ab9",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UDaUfjsLkPLAE4K1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c209fe51-d716-4aad-bc0e-67a674d30ad8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff753a807e97b3cf4005838d266c90af26545fa3d2e694a1032954fcce6fc794"
  },
  "id": "LdHwPIf7fsmpyK3e",
  "tags": []
}