quests/15_manage_emailboxs.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -688,
        -528
      ],
      "id": "b56752cc-8fc7-410f-99ec-0aa31feb74e9",
      "name": "Get many messages",
      "webhookId": "cf05ff44-c0ed-4e9c-b672-ea6d0aec0448",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        -528
      ],
      "id": "18a782eb-6d77-409e-9983-974e5a490f98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Soical",
              "description": "소셜 미디어, 뉴스레터, 마케팅 메일 등 정보성 메시지"
            },
            {
              "category": "Personal",
              "description": "개인적인 연락, 친구/가족 관련 메일"
            },
            {
              "category": "Misc",
              "description": "기타 분류되지 않은 모든 메일"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -416,
        -544
      ],
      "id": "d02b2ffd-f8d5-4166-8590-bbe10afd05cc",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        -304
      ],
      "id": "3bca5d09-28a8-4256-8d80-953522f64fa4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rfGr8PCw4xaMfFBu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX",
          "Label_5275887917337474364"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        -720
      ],
      "id": "bb5871b9-4d28-4364-b96d-e4f3bbcda3fc",
      "name": "Add label to message",
      "webhookId": "483392b8-5466-40e2-9612-5e92f6faa531",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX",
          "Label_5309157711281242283"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        -528
      ],
      "id": "771797e7-f425-465e-920f-49e3be67b6d0",
      "name": "Add label to message1",
      "webhookId": "483392b8-5466-40e2-9612-5e92f6faa531",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        -320
      ],
      "id": "f2701fcb-39da-410e-b320-50949e588da9",
      "name": "Add label to message2",
      "webhookId": "c756cc48-a50e-49ad-935d-9f007f32cbe1",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=하기 내용을 확인하고, 금방 다시 연락드린다는 식으로 간단한 메일 답변을 출력해주세요.\n반드시 메일 내용만 포함해주세요.\n\n[출력 예시]\n안녕하세요, 황지상입니다.\n000님 연락주셔서 감사합니다.(이름이 없을시 해당 내용 삭제)\n-내용-\n감사합니다. \n황지상 드림\n\n01042999300\ngregchris@naver.com\n[메일 내용]\n{{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        -720
      ],
      "id": "dfbaea54-67af-46a2-83a5-0101e306743f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "rfGr8PCw4xaMfFBu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=하기 내용을 확인하고, 금방 다시 연락드린다는 식으로 간단한 메일 답변을 출력해주세요. 개인적인 약속을 연락주는 메일이므로 친근한 존댓말을 사용하여 어조를 반영해주세요. \n반드시 메일 내용만 포함해주세요.\n\n[출력 예시]\n안녕하세요, 황지상입니다.\n-내용-\n감사합니다. 연락드리겠습니다\n\n[메일 내용]\n{{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        -528
      ],
      "id": "38139798-a9da-4508-b04f-76b1363818d0",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rfGr8PCw4xaMfFBu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b49a2e-ecf3-42b6-b331-c58c346520d5",
              "name": "snippet",
              "value": "={{ $('Text Classifier').item.json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -720
      ],
      "id": "75b9a0b4-aff8-4543-b1f3-06b11a86d2a8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b49a2e-ecf3-42b6-b331-c58c346520d5",
              "name": "snippet",
              "value": "={{ $('Text Classifier').item.json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -528
      ],
      "id": "a874f0a6-1c13-4949-941e-bf8e70fee845",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Add label to message').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        -720
      ],
      "id": "6f5e7770-b6f7-466e-93a5-dc060e05e046",
      "name": "Delete a message",
      "webhookId": "c080735a-66f5-492c-aa73-38d9dcaeac07",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Text Classifier').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        -320
      ],
      "id": "6cfa5d33-18af-406b-92e8-27c609b90979",
      "name": "Remove label from message",
      "webhookId": "82cf0483-30c1-4b15-ad2d-e1dd95217882",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        -720
      ],
      "id": "fe7e6775-912a-46e7-b467-0a70ae265f37",
      "name": "Reply to a message",
      "webhookId": "c1adc14d-9b1e-4f31-8e7c-fe95c88ad13d",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message1').item.json.id }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        -528
      ],
      "id": "c0fdb336-f9fb-4c47-b43a-56bcc2097633",
      "name": "Reply to a message1",
      "webhookId": "1b2eccac-f717-4e8d-8587-c88a8a73e54f",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOdO7FZ6YMv1yiX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed90d1ca-1e5c-4525-b3de-475f103b55ba",
  "meta": {
    "instanceId": "ff753a807e97b3cf4005838d266c90af26545fa3d2e694a1032954fcce6fc794"
  },
  "id": "dE9EA9dZOCxKHUpF",
  "tags": []
}