quests/quests_13_RPA_multimedias.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -2416
      ],
      "id": "04188227-0ee6-4884-b86f-cd6f3b162483",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1TAMiOujfHKjWG36ARd0uXmyT0CI2aGWs",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -816,
        -2416
      ],
      "id": "a7fbc8c3-dcb9-44d4-aaa8-77755139260a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -2416
      ],
      "id": "28da7f33-29a0-4faf-93e1-99a86fa1dbd0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1296,
        -1920
      ],
      "id": "c239c245-725a-4975-b937-3e7648a1466d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "09c4691d-aaba-4833-b323-9970aea4955e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a78f0ee2-2f32-44c7-80dd-b97ad8373ad1",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d83be2-4f76-4230-b3f1-aed1f438228c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        -2160
      ],
      "id": "6835c06a-3d95-43b7-8cc5-0ff059b8dbe6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        480,
        -2320
      ],
      "id": "ba755407-ddcc-42e6-9fe4-8c4caea59679",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        -2128
      ],
      "id": "7542bfa5-bc47-413e-8b2e-4d4ee23af77a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -1936
      ],
      "id": "ce821d9c-413b-4d61-8584-b87a49f8475c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6zMdASRWoq3t8gqD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 종합 미디어 에이전시를 운영하고 있는 20년차 전문가입니다.\n\n종합 미디어 에이전시로 #문의 메일#에 대한 [답변메일]을 작성해주세요. \n\n[답변 메일의 포함되어야 할 내용]\n\n- 주요 요청사항에 대한 내용을 키워드로 정리\n\n- #서비스 가격 정책# 정책으로 고객의 예산에 맞춘 간략한 컨설팅 진행\n\n- 디테일한 컨설팅을 위한 심층 상담 일정 조율 안내\n\n#문의 메일#, #서비스 가격 정책#\n{{ $json.content[0] }}\n\n[출력 형식]\n\n안녕하세요 담당자, 000입니다\n~내용~\n감사합니다.\n[에이전시 명]담당자 000 드림.\n문의처 : \n\n이메일 :  "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        -2096
      ],
      "id": "16516d5a-86c5-44d9-ae37-b35d531b0aae",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2048,
        -1808
      ],
      "id": "eb6b734b-15fd-45f4-913d-2079e51f98e6",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -2128
      ],
      "id": "5f4b15e6-f649-4c19-89a3-b1a32adde78e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ae3bea7-f1f0-4b49-b1c2-1b1bc213e760",
              "name": "content",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -1936
      ],
      "id": "6a0602e3-19a1-4056-8dd4-bb4bc1025489",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        -1936
      ],
      "id": "e6615580-d549-4b20-ad59-5573667ccb06",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1856,
        -2432
      ],
      "id": "de3ce746-f48c-4e8c-8937-6c240c8263d4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "send_email_information"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1856,
        -1808
      ],
      "id": "76c9c4f5-8b28-476d-b21b-d48fe857fe4d",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 회의록  만들기",
        "height": 240,
        "width": 2656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -1440
      ],
      "typeVersion": 1,
      "id": "2ea0728d-526c-4550-9db6-6686e3ed59e7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 회의록 기반 메일 보내기",
        "height": 912,
        "width": 3968
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -928
      ],
      "typeVersion": 1,
      "id": "f586cf57-b7df-465e-ba37-cdb50a30e03f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 메일 보낸 내용 기반,\n# 업무 보고서 최종 작성 (내부 보고용)",
        "height": 688,
        "width": 4352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        -1328
      ],
      "typeVersion": 1,
      "id": "00d44456-2dcc-4da9-833f-524f5b9c35a0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 업무 보고서 기반 영상 콘텐츠 기획안 작성 (아이디어) _ 내부 보고용",
        "height": 1008,
        "width": 4352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2896,
        -2480
      ],
      "typeVersion": 1,
      "id": "20233dac-eb3b-41d8-8748-e2b8801e5bd8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 메일 보낸 내용 기반,\n# 업무 보고서 최종 작성 (외부 보고용)",
        "height": 1056,
        "width": 4272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2992,
        -400
      ],
      "typeVersion": 1,
      "id": "ad8c122d-357a-4a5e-9047-78e0f75e3955",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=# [지시문]\n당신은 '광고 제작사'의 입장에서 '클라이언트'와의 B2B 킥오프 미팅 내용을 정리하는 전문 PM(프로젝트 매니저)입니다.\n당신의 임무는 입력된 회의록 원본(혹은 녹취록 텍스트)을 분석하여, 아래에 정의된 [회의록 템플릿]에 맞춰 핵심 내용을 요약하고 재구성하는 것입니다.\n\n특히 다음 사항에 유의하여 회의록을 작성합니다:\n1.  **'클라이언트'와 '당사(제작사)'의 입장 구분:** 모든 논의 내용과 실행 계획(Action Item)의 주체를 명확히 구분해야 합니다.\n2.  **클라이언트 요구사항(Brief) 상세 추출:** 캠페인 목표, 타겟, 예산, 일정 등 클라이언트의 요구사항을 원본 텍스트에서 정확하게 추출하여 [3. 클라이언트 주요 요구 사항] 항목에 채워 넣습니다.\n3.  **실행 계획(Next Steps) 구체화:** '누가(담당 주체)', '무엇을', '언제까지(기한)' 할 것인지 명확하게 표로 정리합니다.\n4.  **객관성 유지:** 감정적이거나 불필요한 사족은 제거하고, 사실 기반의 논의 내용과 결정 사항 위주로 요약합니다.\n5.  **참석자 분리:** 참석자 명단에서 클라이언트측과 당사측 인원을 구분합니다. 원본 텍스트에서 소속이 불분명할 경우, 문맥(예: \"@client.com\", \"@agency.com\" 이메일 주소 또는 직책)을 통해 추론합니다.\n\n---\n\n# [회의록 템플릿]\n\n# [프로젝트명] 광고 제작 의뢰 킥오프 미팅 회의록\n\n* **프로젝트명:** [텍스트에서 프로젝트 제목 추출]\n* **클라이언트사:** [클라이언트 회사명 추출]\n* **대행사(당사):** [당사 회사명 추출, 없으면 'OOO (당사)'로 표기]\n* **회의 일시:** [날짜와 시간 추출]\n* **회의 방식:** [예: Zoom, Google Meet, 오프라인 등]\n* **기록자:** [기록자 정보가 있으면 추출, 없으면 비워둠]\n\n---\n\n## 1. 참석자 명단\n* **클라이언트측:** [이름 (직책/소속) 목록]\n* **당사측:** [이름 (직책/소속) 목록]\n\n## 2. 회의 목적\n* [회의의 주요 안건이나 목적을 1~3줄로 요약]\n\n## 3. [★] 클라이언트 주요 요구 사항 (Client's Brief)\n* **캠페인 목표:** [클라이언트가 언급한 캠페인의 최종 목표]\n* **타겟 오디언스:** [클라이언트가 정의한 핵심 타겟]\n* **핵심 메시지(Key Message):** [클라이언트가 강조한 슬로건이나 키워드]\n* **주요 제작물(Deliverables):** [제작해야 할 영상/이미지 종류와 수량]\n* **희망 톤앤매너:** [클라이언트가 언급한 광고의 분위기나 스타일]\n* **필수 포함 요소(Mandatories):** [반드시 포함되어야 할 로고, 모델, 문구 등]\n* **희망 예산(Budget):** [언급된 예산 범위]\n* **주요 일정(Timeline):** [클라이언트가 제시한 주요 마감 기한 (예: 제안 마감, 최종 납품)]\n\n## 4. 주요 논의 및 Q&A\n* **[주요 논의 주제 1]**\n    * (주요 내용): [해당 주제의 논의 내용 요약]\n    * (Q&A): [관련 질의응답 요약]\n    * (결정/확인 사항): [해당 주제에 대해 합의된 내용]\n* **[주요 논의 주제 2]**\n    * (주요 내용): [해당 주제의 논의 내용 요약]\n    * (결정/확인 사항): [해당 주제에 대해 합의된 내용]\n* *(...필요시 주제 추가)*\n\n## 5. [★] 향후 실행 계획 (Next Steps)\n| No. | 실행 내용 | 담당 주체 | 기한 |\n| :--- | :--- | :--- | :--- |\n| 1 | [해야 할 일 1] | [클라이언트 or 당사] | [~XX/XX] |\n| 2 | [해야 할 일 2] | [클라이언트 or 당사] | [~XX/XX] |\n| 3 | [해야 할 일 3] | [클라이언트 or 당사] | [~XX/XX] |\n\n## 6. 줌 회의 관련 자료 (및 기타 사항)\n* **회의 녹화본 링크:** [언급된 경우 링크 추출]\n* **공유 자료:** [언급된 파일명이나 링크 추출]\n* **기타:** [다음 미팅 일정이나 특이사항]\n\n---\n\n# [입력]\n아래의 텍스트를 분석하여 위의 [회의록 템플릿]에 맞춰 회의록을 작성해 주세요.{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        176,
        -1424
      ],
      "id": "bc380f7f-f242-4c30-9f84-e9be59f5be38",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model1').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        704,
        -1424
      ],
      "id": "4a4b80ff-4353-4c70-a0ed-9410fbb7a582",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "send_email_회의록"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        -1424
      ],
      "id": "c2300852-866c-4f76-82e5-539ba73ae9dc",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1rLfE1eihdodEdlxKZADC8FE4zY_IgZ_J",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        -848
      ],
      "id": "ec60abb3-f02f-41c0-a375-1081cd21f64c",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -848
      ],
      "id": "802328a6-dd12-4415-a22e-8effdd6c638b",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1376,
        -336
      ],
      "id": "61d758da-43de-494d-9342-9da90fcc1507"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "09c4691d-aaba-4833-b323-9970aea4955e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a78f0ee2-2f32-44c7-80dd-b97ad8373ad1",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d83be2-4f76-4230-b3f1-aed1f438228c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        48,
        -576
      ],
      "id": "7b063f79-3729-42ad-8b08-39c0e52c43b6",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        560,
        -736
      ],
      "id": "7039d483-4420-4dfa-bac7-dbff2e9eb9a8",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        752,
        -544
      ],
      "id": "79adef25-29f0-4164-b934-e98ac1f844bb",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -352
      ],
      "id": "d9d73f71-3235-4acf-89eb-07828b514002",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6zMdASRWoq3t8gqD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 미디어플래너, 광고 기획자, 광고 전략 컨설턴트 20년차 전문가입니다.\n\n회의록과, 서비스 가격 정책 안내사항을 바탕으로 당신은 고객사에게 전달할 안내 메일이 필요합니다. 안내 메일에는 '비지니스 메일'에 필요한 내용을 포함해주세요. (담당자명, 전화번호, 이메일) 또한 회의록의 주요 안건을 기반으로, 하단에는 최종 견적 및 진행 일정을 안내하는 내용을 포함해주세요.\n\n[출력방식]\n1.킥오프 미팅 주요 합의 사항 요약\n2.최종 견적 및 진행 일정 (안내)\n2.1. 캠페인 견적 상세\n2.2. 예상 진행 일정 (주요 마일스톤)\n\n[회의록]\n{{ $json.content[0] }}\n\n[서비스 가격 정책]\nhttps://docs.google.com/document/d/1KLU4oAAprirq1TxqV0p-rOtNxQEIuWCn5Mcd8sbXr8Y/edit?tab=t.0#heading=h.v65s6py9gn3b"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        -512
      ],
      "id": "9d88a0dd-7cbd-4ac2-8f2a-4abcc8170e23",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model2').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2144,
        -224
      ],
      "id": "c52209a0-5800-446b-a478-50a44c3a9a6c",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        -544
      ],
      "id": "87b6f01e-b026-46b9-ab3d-58656dbd2501",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ae3bea7-f1f0-4b49-b1c2-1b1bc213e760",
              "name": "content",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -352
      ],
      "id": "2575fb6d-e5a5-476b-9747-2ed32f73d17e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        784,
        -352
      ],
      "id": "b75115a8-ae9c-4d44-843b-9c402839c448",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1936,
        -848
      ],
      "id": "91caf6da-062b-48ee-aa2a-dd62f1a37196",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "send_email_회의록 "
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1936,
        -224
      ],
      "id": "55ba257c-ec9e-4655-829e-c218a61318fd",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1Qo4fmIPTlWv19kJtFwb0NKgXg6tO2nZs",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3904,
        -2320
      ],
      "id": "91880589-c786-43e6-b142-09776d527115",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4160,
        -2320
      ],
      "id": "e2d28975-6a19-4c7b-8c64-432fc3d8327d",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        6016,
        -1824
      ],
      "id": "035fdf87-46f3-4018-b15a-9c5a5fb48634"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "09c4691d-aaba-4833-b323-9970aea4955e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a78f0ee2-2f32-44c7-80dd-b97ad8373ad1",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d83be2-4f76-4230-b3f1-aed1f438228c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4688,
        -2064
      ],
      "id": "6d3e7520-91b0-4bf6-a497-be3e8d8f6750",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5200,
        -2224
      ],
      "id": "b5c8c8fb-715e-4ffe-b1b7-4995c957fcd3",
      "name": "Get a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5392,
        -2032
      ],
      "id": "dcdeee82-f2db-4509-b898-7954360bdf0a",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items3').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5040,
        -1840
      ],
      "id": "aa24568c-08ba-4146-a53c-e31bee34de0d",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6zMdASRWoq3t8gqD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 멀티 미디어 컨텐츠 컨설팅 전문가 20년차 전문가입니다.\n\n클라이언트가 제공한 정보를 바탕으로 소셜 미디어용 영상 콘텐츠 기획안을 작성해주세요.\n기획한 작성시 입력 필수 사항을 내용에 포함해주세요.\n\n[클라이언트 제공 정보]\n{{ $json.content[0] }}\n{{ $json.content[1] }}\n[입력 필수 사항]\n클라이언트 정보\n-브랜드명 (업종) \n-타겟: \n\n캠페인 정보\n-캠페인명:  \n-목표: \n-예산: \n-기간: \n\n클라이언트 요청사항\n- 요청사항 나열\n\n홍보 제품 특징\n- 제품 USP 추출\n\n컨텐츠 기획\n- USP,예산에 맞춰서 컨텐츠 방향성 3가지 제안 \n*서로 비교가 가능하도록 표 형식으로 출력\n-주요 플랫폼: \n-게시 빈도: \n-영상 길이: \n\n[출력 방식] \n클라이언트 정보, 캠페인 정보, 클라이언트 요청사항은 키워드가 대표되는 텍스트 형식\n홍보제품 특징은 USP별 나눠져 있는 표형식\n컨텐츠 방향성은 컨텐츠 내용 별 나눠져있는 표형식"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6480,
        -2000
      ],
      "id": "37bcf11c-0881-4ba0-8af0-8e4242cbd626",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model3').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6928,
        -1712
      ],
      "id": "2b21fb71-51bd-4ee4-ba8a-d8f8e96c6115",
      "name": "Update a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5040,
        -2032
      ],
      "id": "6f791887-a5ac-4484-a08d-49462cfa7c63",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ae3bea7-f1f0-4b49-b1c2-1b1bc213e760",
              "name": "content",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5232,
        -1840
      ],
      "id": "95144935-ea80-4736-908c-5a93834ac646",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5424,
        -1840
      ],
      "id": "857b675f-436e-4c46-9721-d7a48586e525",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6576,
        -2336
      ],
      "id": "f625376f-6df8-4dcb-855a-5bb5719caf9a",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "ideA_CONTENTS"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6576,
        -1712
      ],
      "id": "46567ada-9aed-4d0a-8a14-f14fcc63bbbc",
      "name": "Create a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1PbpECFk65UKJmzkdFh1kFWtdNccaHqNn",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4464,
        -1296
      ],
      "id": "3342e5f9-df97-4d53-ade6-bc890ad3b21f",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4800,
        -1296
      ],
      "id": "5f295c95-5fc9-4fb5-8d30-96741a5171db",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5680,
        -976
      ],
      "id": "cc725d24-2dca-4beb-b707-1de1bcdd0441",
      "name": "Get a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 멀티 미디어 컨텐츠 컨설팅 전문가 20년차 전문가입니다.\n\n하기 내용을 바탕으로 집행에 필요한 모든 내용이 포함되어 있는 소셜 미디어용 영상 콘텐츠 기획안을 작성해주세요.\n클라이언트, 내부 최고 의사 결정자에게 보고할 예정입니다. \n\n**컨텐츠**\n컨텐츠 내용 입력\n\n**OUTPUT**\n0000 캠페인 영상 콘텐츠 기획안\n\n├── I. 캠페인 개요\n│   ├── 1.1. 배경 및 목적\n│   ├── 1.2. 핵심 컨셉\n│   └── 1.3. 크리에이티브 방향\n│\n├── II. 핵심 차별화 포인트\n│\n├── III. 핵심 콘텐츠 시리즈 구성 (총 8주 / 24편)\n│   ├── 시리즈 A: \"플라스틱 다이어리\" (주 1회, 총 8편)\n│   ├── 시리즈 B: \"컬러로 시작하는 루틴\" (주 1회, 총 8편)\n│   └── 시리즈 C: \"체인지 메이커 챌린지\" (주 1회, 총 8편)\n│\n├── IV. 제작 및 운영 계획\n│   ├── 4.1 총 예산 배분 (기획/제작비, 협찬비, 광고 집행비, 현물 지급 비용 등)\n│   ├── 4.2. 프로덕션 일정 (총 00주)\n│   ├── 4.3. 핵심 제작 인력 (내부)\n│   └── 4.4. 협업 인플루언서 전략 (안)\n│\n├── V. 제작 및 운영 세부 계획 \n│   ├── 5.1  시리즈 A,B,C 촬영 일정 (날짜, 로케이션, 특이사항 표기) 표형식으로 출력\n│\n├── VI. 리스크 관리\n│\n└── VII. 성과 관리 계획\n      └── 6.1. 핵심 성과 지표 (KPI)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5792,
        -1312
      ],
      "id": "3008318f-77c4-4cbd-ab87-d6a2360ca917",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model4').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6576,
        -1312
      ],
      "id": "b3bee3a1-8371-417d-b1bb-8343eb301ace",
      "name": "Update a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5488,
        -1312
      ],
      "id": "8d392dc0-0821-47d6-a796-2db882c4445e",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "send_email_information"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6240,
        -1312
      ],
      "id": "16d7d497-d92a-4a1d-adcb-d57756e1952d",
      "name": "Create a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1AnL7otnFDrTJ22pwPLASaeMPQRQRaXY2?usp=drive_link",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4096,
        -352
      ],
      "id": "7eb28175-9347-41e7-8ea1-0474bad94db5",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4352,
        -352
      ],
      "id": "aaccf936-b9eb-4227-b2a3-d49d99038108",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me5",
      "typeVersion": 1,
      "position": [
        6208,
        144
      ],
      "id": "66a2e68d-0321-4f47-8208-10991bed3c31"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "09c4691d-aaba-4833-b323-9970aea4955e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a78f0ee2-2f32-44c7-80dd-b97ad8373ad1",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d83be2-4f76-4230-b3f1-aed1f438228c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4880,
        -96
      ],
      "id": "15edb8de-a7e4-4c3d-9543-af49dbcb9ebe",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5392,
        -256
      ],
      "id": "00bb5d53-163f-4374-a9e7-044f29901f93",
      "name": "Get a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5584,
        -64
      ],
      "id": "495f571d-b358-4590-b459-9ccaf96b1034",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items5').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5232,
        128
      ],
      "id": "ce23670d-6b36-4ace-9146-3fa13920c84a",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6zMdASRWoq3t8gqD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 종합 미디어 에이전시를 운영하고 있는 20년차 전문가입니다.\n\n종합 미디어 에이전시로 #문의 메일#에 대한 [답변메일]을 작성해주세요. \n\n[답변 메일의 포함되어야 할 내용]\n\n- 주요 요청사항에 대한 내용을 키워드로 정리\n\n- #서비스 가격 정책# 정책으로 고객의 예산에 맞춘 간략한 컨설팅 진행\n\n- 디테일한 컨설팅을 위한 심층 상담 일정 조율 안내\n\n#문의 메일#, #서비스 가격 정책#\n{{ $json.content[0] }}\n\n[출력 형식]\n\n안녕하세요 담당자, 000입니다\n~내용~\n감사합니다.\n[에이전시 명]담당자 000 드림.\n문의처 : \n\n이메일 :  \n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6672,
        -32
      ],
      "id": "fe97381d-5501-46f4-ab1a-7c1c362eb641",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "KhSbQqDyI17DUB4j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model5').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4064,
        512
      ],
      "id": "81361076-ae30-4af5-9281-c8b4ea401539",
      "name": "Update a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5232,
        -64
      ],
      "id": "009000e3-e456-4948-b0fa-e49f1a349c26",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ae3bea7-f1f0-4b49-b1c2-1b1bc213e760",
              "name": "content",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5424,
        128
      ],
      "id": "ca8771b6-0abc-45eb-953a-0005a4ec0816",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5616,
        128
      ],
      "id": "21a09fd9-3c1a-4d1a-aa68-246686415ef8",
      "name": "Aggregate10"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6768,
        -368
      ],
      "id": "d3acd0ad-8f1b-4fb9-b902-2ff2878d7a1a",
      "name": "Aggregate11"
    },
    {
      "parameters": {
        "folderId": "=1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
        "title": "send_email_information"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6768,
        256
      ],
      "id": "253b43a7-6bcc-4964-93fb-d611eca00ae2",
      "name": "Create a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items5').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VxAt9pYksUt96xNtySW9zFj77DdAiwBg",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6400,
        144
      ],
      "id": "0626b887-8ddb-48e8-9a74-e9c5954f815d",
      "name": "Move file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -1424
      ],
      "id": "464a8769-a322-4d8d-a082-9ec3ddb109d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1qnmIeJH_HnrRrq_nSSJ-LVnUXk4L6Rvz",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        -1424
      ],
      "id": "bc4f18bb-f04d-4fce-8778-06027751f251",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -80,
        -1424
      ],
      "id": "eb6dcbcf-6927-4c1e-81db-abbe5de6e7c0",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document1').item.json.id }}",
          "mode": "id"
        },
        "name": "trigger_send_email_회의록",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -944,
        -848
      ],
      "id": "0089cdb1-f813-4b34-8ba0-c4dd9d949636",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1rLfE1eihdodEdlxKZADC8FE4zY_IgZ_J",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        -848
      ],
      "id": "243ffa42-f121-4027-abbe-31a60cfb68d5",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document2').item.json.id }}",
          "mode": "id"
        },
        "name": "trigger_send_email_회의록",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1Qo4fmIPTlWv19kJtFwb0NKgXg6tO2nZs",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2960,
        -2320
      ],
      "id": "c4f1afcb-cfe3-4899-9a73-17bc8184237b",
      "name": "Copy file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 이메일 자동 응답",
        "height": 880,
        "width": 3952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -2432
      ],
      "typeVersion": 1,
      "id": "e00c525f-7208-4824-8919-1f457fb039e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "name": "종합 미디어 에이전시 서비스 가격 정책 안내",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1Qo4fmIPTlWv19kJtFwb0NKgXg6tO2nZs",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3408,
        -2320
      ],
      "id": "9b471d2e-cef5-4b89-8f98-15664f1b007d",
      "name": "Copy file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1tl51C2C23oq5ajrAKdgJ4oPzO5wtIIpkMCK_cOVJ6zw/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3168,
        -2320
      ],
      "id": "ad0a0c92-b2d1-43eb-82aa-e073f4157b64",
      "name": "Get a document6",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ruEn9VX5U69Ctvc2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document2').item.json.id }}",
          "mode": "id"
        },
        "name": "trigger_send_email_회의록",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1PbpECFk65UKJmzkdFh1kFWtdNccaHqNn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4176,
        -1296
      ],
      "id": "859b51d4-8299-4c8f-92d8-24ad3e95abff",
      "name": "Copy file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02d4d418-509e-4f77-8601-28dac9bf660d",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": " 10Ot0006Z95cbhe6mEoPTqy74Eiy4_l8UPMbphWGh_zM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "09c4691d-aaba-4833-b323-9970aea4955e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5104,
        -1024
      ],
      "id": "1a322de4-d95b-4937-b673-4f0ac9babf69",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5792,
        -1120
      ],
      "id": "2f080699-92d9-4cc8-a2b9-de878a1e904f",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items4').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5488,
        -1120
      ],
      "id": "12042b75-ec66-457c-9521-4d86463feccd",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oYTDr61PFhuw2dFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me4",
      "typeVersion": 1,
      "position": [
        6112,
        -1008
      ],
      "id": "74b0ef55-461d-412e-b19f-fd7c3c37b33b"
    }
  ],
  "pinData": {
    "Message a model5": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "안녕하세요, 이지수 매니저님.\n\n초록숲 재단의 '내 숨을 위한 한 평의 숲' 캠페인에 대한 소중한 문의에 깊이 감사드립니다. 도시 환경 개선과 시민들의 삶에 긍정적인 영향을 주고자 하는 재단의 숭고한 목표에 저희도 깊이 공감하고 있습니다. 20년간 수많은 기업과 단체의 캠페인을 성공으로 이끌어 온 경험을 바탕으로, 재단의 의미 있는 메시지가 더 많은 분께 닿을 수 있도록 최선을 다해 돕겠습니다.\n\n문의주신 내용을 바탕으로 주요 요청사항을 정리하고, 저희의 서비스 정책에 기반한 간략한 컨설팅을 먼저 드립니다.\n\n---\n\n**[초록숲 재단 문의 메일 주요 요청사항]**\n\n*   **캠페인 명:** '내 숨을 위한 한 평의 숲' 공익 캠페인\n*   **예산:** 5천만 원 (TV, 라디오 광고 제작 및 매체 집행 포함)\n*   **핵심 니즈:**\n    *   **임팩트 있는 광고 제작:** 메시지의 감동을 극대화할 수 있는 고품질 영상 및 라디오 광고 제작\n    *   **비용 효율적인 매체 전략:** 한정된 예산으로 TV, 라디오 매체 집행 최적화 및 최대 효과 창출\n\n---\n\n**[고객 예산에 맞춘 간략 컨설팅 (서비스 가격 정책 기반)]**\n\n이지수 매니저님께서 제시해주신 5천만 원의 예산으로 TV 및 라디오 광고 제작과 매체 집행을 모두 아우르는 것은 도전적인 목표임에 분명합니다. 하지만 비영리 공익 캠페인의 특성과 저희 에이전시의 전문성을 결합하면 충분히 효과적인 캠페인 구축이 가능합니다.\n\n1.  **광고 콘텐츠 제작 (TV CF 영상 & 라디오 광고 제작):**\n    *   **TV CF 영상 제작:** 저희의 **Basic Package (1,500만 원 ~ 3,000만 원)**를 공익 캠페인의 특성에 맞춰 유연하게 적용할 수 있습니다. 예를 들어, 재단의 진정성을 담은 다큐멘터리 스타일이나 감성적인 애니메이션 등을 활용하여 메시지의 감동을 극대화하면서도 예산 효율성을 높이는 방향을 제안합니다. 약 **2,000만 원 내외**로 핵심 메시지를 담은 고품질의 영상 제작이 가능할 것으로 예상합니다.\n    *   **라디오 광고 제작:** 음성형 라디오 광고의 경우 **50만 원 ~ 150만 원** 선에서 전문 성우 녹음을 포함한 제작이 가능합니다. 영상 제작 예산과의 조율을 통해 적정 수준에서 진행될 수 있습니다.\n\n2.  **광고 매체 집행 (TV & 라디오):**\n    *   재단과 같은 공익 단체의 캠페인은 일반 상업 광고와는 다른 접근이 필요합니다. 저희 에이전시가 보유한 방송사 및 언론사와의 오랜 네트워크를 적극 활용하여, 다음과 같은 **비용 효율적인 매체 전략**을 수립할 수 있습니다.\n        *   **공익광고 의무 편성 시간(PSA) 확보:** 지상파 및 종합편성채널의 공익광고 의무 편성 시간대를 활용하여 매체 비용 부담을 최소화합니다.\n        *   **특별 할인 및 협찬 유치:** 재단의 좋은 취지를 설명하고, 각 매체사의 사회공헌 정책과 연계하여 일반 광고 단가 대비 파격적인 할인율을 적용받거나, 일부 매체 집행에 대한 후원(협찬)을 이끌어내는 방향을 적극 추진하겠습니다.\n    *   따라서, 영상 및 라디오 광고 제작에 약 2,000만 원~2,500만 원을 배정하고, 나머지 **2,500만 원~3,000만 원 내외**의 예산을 매체 집행에 활용하되, 위와 같은 전략을 통해 실제 집행되는 광고 노출 규모를 극대화하는 방안을 제안합니다.\n\n**[종합 미디어 에이전시 서비스 가격 정책 안내 인포그래픽]**\nhttps://gemini.google.com/share/f84aee14a6b5\n\n---\n\n**[심층 상담을 위한 일정 조율 안내]**\n\n말씀드린 바와 같이, 한정된 예산 안에서 '내 숨을 위한 한 평의 숲' 캠페인의 파급력을 극대화하기 위해서는 더욱 디테일하고 전략적인 접근이 필요합니다. 위에서 제시해 드린 내용은 대략적인 가이드이며, 재단의 구체적인 목표, 타겟, 캠페인 기간 등을 심층적으로 논의하여 최적화된 맞춤형 솔루션과 상세 견적을 제공해 드리고 싶습니다.\n\n편하신 시간대에 저희 캠페인 전략팀과 심층 상담을 진행하실 수 있도록 아래 일정 중 가능하신 때를 알려주시거나, 다른 편한 시간을 제안해주시면 감사하겠습니다.\n\n*   10월 21일 (화) 오후 2시 ~ 4시\n*   10월 23일 (목) 오전 10시 ~ 12시\n\n다시 한번 귀한 문의에 감사드리며, 긍정적인 회신 기다리겠습니다.\n\n감사합니다.\n주식회사 유어미디어 (Your Media Inc.) 캠페인 전략팀 김민준 드림.\n문의처 : 02-123-4567\n이메일 : minjun.kim@yourmedia.com"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Message a model2": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "## 초록숲 재단 '내 숨을 위한 한 평의 숲' 공익 캠페인 킥오프 미팅 후속 안내 및 최종 제안서\n\n**수신:** 이지수 캠페인 매니저님께\n**발신:** 김민준 (유어미디어 캠페인 전략팀장)\n**날짜:** 2025년 10월 24일 (금)\n**참조:** 김선우 사무국장님\n\n**제목: ['내 숨을 위한 한 평의 숲' 공익 캠페인] 킥오프 미팅 후속 안내 및 최종 제안서**\n\n안녕하세요, 유어미디어 캠페인 전략팀장 김민준입니다.\n\n지난 10월 21일(화) 진행된 '내 숨을 위한 한 평의 숲' 공익 캠페인 킥오프 미팅에 귀한 시간을 내어 참석해 주시고, 캠페인의 깊은 의미와 목표를 공유해 주셔서 진심으로 감사드립니다.\n\n논의된 내용을 바탕으로 귀 재단의 캠페인 목표를 달성할 수 있는 최적의 방안을 담아 제안서를 준비했습니다. 킥오프 미팅에서 합의된 주요 사항을 요약하고, 이에 따른 최종 견적 및 예상 진행 일정을 안내해 드립니다.\n\n---\n\n### 1. 킥오프 미팅 주요 합의 사항 요약\n\n지난 미팅에서 '내 숨을 위한 한 평의 숲' 캠페인의 성공적인 진행을 위해 아래와 같은 주요 사항들을 깊이 있게 논의하고 합의했습니다.\n\n*   **캠페인 목표:** 단순한 정보 전달을 넘어, 시민 개개인의 '연대감'과 '희망'을 고취시켜 '나도 참여해볼까?'라는 능동적인 참여 의지를 유도하는 것에 중점을 둡니다.\n*   **핵심 메시지 및 크리에이티브 콘셉트:** 당사가 제안한 \"숨결이 모여 숲이 될 때\"라는 콘셉트에 대해 긍정적인 반응을 보여주셨으며, 평범한 시민들의 이야기를 다루는 진정성 있고 따뜻한 다큐멘터리 형식의 TV 광고 제작 아이디어를 중심으로 진행하기로 합의했습니다. 이는 귀 재단이 희망하시는 톤앤매너와 정확히 일치한다는 점을 확인했습니다.\n*   **예산 및 미디어 운영 전략:** 5천만 원이라는 한정된 예산 내에서 TV 및 라디오 광고 제작과 송출을 효과적으로 진행하기 위해, 당사의 강점인 '선택과 집중' 및 '명분 활용' 전략을 통해 방송사 공익광고(PSA) 시간 확보 및 미디어 후원/협찬을 적극 유치하는 방안에 대해 신뢰를 표명해 주셨습니다. 제작은 다큐멘터리 형식으로 비용 효율성을 높이고, 라디오 광고는 TV 광고의 오디오를 활용하는 등 전략적인 접근을 통해 예산을 효율적으로 운용할 계획입니다.\n\n---\n\n### 2. 최종 견적 및 진행 일정 안내\n\n논의된 사항과 귀 재단의 희망 예산을 바탕으로, '내 숨을 위한 한 평의 숲' 공익 캠페인의 최종 견적과 예상 진행 일정을 안내해 드립니다.\n\n#### 2.1. 캠페인 견적 상세\n\n| 구분                  | 상세 내역                                                              | 단가 (VAT 별도)  | 비고                                                              |\n| :-------------------- | :--------------------------------------------------------------------- | :--------------- | :---------------------------------------------------------------- |\n| **캠페인 기획 및 개발** | 캠페인 전략 수립, 핵심 메시지 도출, 크리에이티브 콘셉트 개발           | 9,000,000원      | 20년 전문가의 노하우를 담은 맞춤형 전략 및 컨설팅                 |\n| **TV 광고 제작**      | 30초 영상 (다큐멘터리/인터뷰 형식 기반 기획, 촬영, 후반 작업 일체)      | 28,000,000원     | 진정성 있는 스토리텔링에 최적화된 고품질 영상 제작               |\n| **라디오 광고 제작**  | TV 광고 오디오 활용 및 추가 녹음, 편집, 마스터링                      | 4,000,000원      | TV 광고와의 연계성을 높이고 제작 효율 극대화                     |\n| **미디어 전략 및 운영** | 미디어 플래닝, 방송사 공익광고(PSA) 시간 및 후원/협찬 유치, 최소 송출 지원 | 9,000,000원      | 당사의 네트워크를 활용한 미디어 후원 극대화 노력 및 운영 제반     |\n| **총계**              |                                                                        | **50,000,000원** | **VAT(부가가치세) 별도**                                        |\n| **VAT (10%)**         |                                                                        | 5,000,000원      |                                                                   |\n| **최종 합계**         |                                                                        | **55,000,000원** | VAT 포함 총액                                                     |\n\n*본 견적은 킥오프 미팅에서 논의된 '5천만 원(VAT 별도) 예산'에 맞춰 최적화된 서비스 구성입니다. 미디어 후원 유치 노력을 포함한 당사의 종합적인 캠페인 기획 및 운영 역량이 담겨 있습니다.*\n\n#### 2.2. 예상 진행 일정 (주요 마일스톤)\n\n캠페인의 효과적인 런칭을 위해 아래와 같이 예상 진행 일정을 제안 드립니다.\n\n| No. | 마일스톤               | 예상 진행 기간           | 세부 내용                                         |\n| :-- | :--------------------- | :----------------------- | :------------------------------------------------ |\n| 1   | **제안서 검토 및 계약**    | 2025/10/24 ~ 10/31 (1주) | 제안서 최종 검토 및 계약 체결, 프로젝트 착수     |\n| 2   | **크리에이티브 개발**    | 2025/11/03 ~ 11/14 (2주) | 시나리오, 콘티 개발 및 클라이언트 피드백 반영     |\n| 3   | **광고 제작 (촬영/녹음)** | 2025/11/17 ~ 11/21 (1주) | TV 및 라디오 광고 촬영/녹음                     |\n| 4   | **후반 작업 (편집/사운드)**| 2025/11/24 ~ 12/05 (2주) | 영상 및 음성 편집, 사운드 믹싱, CG, 색 보정 등   |\n| 5   | **미디어 협의 및 송출**   | 2025/11/03 ~ 12/05 (병행)| 방송사 협의 및 후원 유치, 송출 스케줄 확정        |\n| 6   | **최종본 납품 및 런칭**   | 2025/12/08 ~ (캠페인 시작)| TV/라디오 광고 최종본 전달 및 캠페인 송출 시작    |\n\n---\n\n제안 내용을 검토하시고 궁금한 점이나 추가 논의가 필요하시면 언제든 편하게 연락 주십시오. 초록숲 재단의 의미 있는 '내 숨을 위한 한 평의 숲' 캠페인이 시민들의 마음에 깊이 닿아 성공적으로 진행될 수 있도록 유어미디어가 최선을 다하겠습니다.\n\n감사합니다.\n\n---\n\n**유어미디어 캠페인 전략팀**\n**김민준 드림**\n\n**담당자명:** 김민준\n**직책:** 캠페인 전략팀장\n**전화번호:** 02-1234-5678\n**이메일:** minjun.kim@yourmedia.com"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Copy file1": [
      {
        "json": {
          "kind": "drive#file",
          "id": "1fn7EOesjQSGZ5d5HqCuzr8C_CzxvwcilvqkMmuW82Bg",
          "name": "trigger_send_email_회의록",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ],
    "Copy file2": [
      {
        "json": {
          "kind": "drive#file",
          "id": "1BOMYCFN6ACERMLlUWxaxygAGS7rws2anpyEUIC3Mbr4",
          "name": "종합 미디어 에이전시 서비스 가격 정책 안내",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ],
    "Get a document6": [
      {
        "json": {
          "documentId": "1tl51C2C23oq5ajrAKdgJ4oPzO5wtIIpkMCK_cOVJ6zw",
          "content": "\n종합 미디어 에이전시 서비스 가격 정책 안내인포그래픽 : https://gemini.google.com/share/f84aee14a6b5\n저희는 TV, 라디오, 인쇄 매체 전반에 걸친 깊이 있는 전문성과 실행력을 바탕으로 고객의 성공적인 캠페인을 위한 최상의 파트너가 되어 드립니다. 본 가격 정책은 표준화된 가이드를 제공하며, 모든 서비스는 고객의 구체적인 목표와 예산에 맞춰 최적의 맞춤형 견적으로 제공됩니다.\n1. 광고 매체 집행 서비스\n매체 집행 비용은 매체의 영향력, 도달률, 시간대, 지면 크기 등에 따라 유동적으로 책정됩니다.\n1.1 TV 광고\n산정 기준: 채널(지상파/케이블/종편), 시간대(프라임/A/B/C급), 광고 길이(15초/20초/30초), 계약 기간 및 송출 횟수에 따라 비용이 산정됩니다.\n예상 비용 (30초 기준, 1회)\n지상파 프라임 타임 (20:00-23:00): 1,500만 원 ~ 2,500만 원\n종합편성채널 프라임 타임: 800만 원 ~ 1,800만 원\n케이블 TV 인기 채널: 300만 원 ~ 900만 원\n지역 방송: 100만 원 ~ 400만 원\n* 패키지(월/분기) 계약 시 특별 할인율이 적용됩니다.\n1.2 라디오 광고\n산정 기준: 채널(주요/지역), 시간대(출퇴근/주간/심야), 광고 길이(20초/30초), 제작(CM송 유무) 및 송출 횟수에 따라 비용이 산정됩니다.\n예상 비용 (20초 기준, 1회)\n주요 채널 출퇴근 시간대: 50만 원 ~ 150만 원\n주요 채널 주간 시간대: 20만 원 ~ 60만 원\n지역 채널 출퇴근 시간대: 15만 원 ~ 40만 원\n* 장기 계약 및 다수 채널 동시 집행 시 할인 혜택을 제공합니다.\n1.3 인쇄 매체 (신문/잡지) 광고\n산정 기준: 매체 종류(전국 일간지/경제지/스포츠지/월간지), 지면 위치(표지/내지), 광고 크기(전면/9단/5단 등), 컬러(Color/흑백)에 따라 비용이 결정됩니다.\n예상 비용 (1회 기준)\n주요 전국 일간지 전면 컬러: 2,000만 원 ~ 5,000만 원\n주요 경제지 5단 21cm 흑백: 500만 원 ~ 1,200만 원\n주요 월간지 내지 전면 컬러: 400만 원 ~ 1,000만 원\n* 연간 계약 또는 시리즈 광고 집행 시 우대 가격이 적용됩니다.\n2. 광고 콘텐츠 제작 서비스\n콘텐츠 제작은 기획의 복잡성, 촬영/녹음 규모, 후반 작업의 난이도에 따라 비용이 책정됩니다.\n2.1 TV CF 영상 제작\nBasic (1,500만 원 ~ 3,000만 원)\n포함: 기본 기획, 1일 실내 촬영, 기본 편집 및 2D 자막, 성우 녹음\n대상: 중소기업 제품/서비스 소개, 프로모션 영상\nStandard (3,000만 원 ~ 8,000만 원)\n포함: 전문 기획, 2~3일 촬영(야외/스튜디오), 전문 모델 섭외, 3D 그래픽, 전문 편집 및 색 보정\n대상: 기업 브랜딩, 주력 상품 TVC\nPremium (8,000만 원 이상)\n포함: 최고 수준의 기획(유명 감독/작가), 연예인 모델 섭외, 해외 로케이션, 특수 촬영(드론/고속), VFX\n대상: 대기업 이미지 광고, 대규모 캠페인\n2.2 라디오 광고 제작\n음성형 (50만 원 ~ 150만 원): 전문 성우 1~2인 녹음, 기본 배경음악 및 효과음\nCM송형 (200만 원 ~ 500만 원): 작곡/작사, 전문 보컬 섭외, 녹음 및 믹싱 포함\n2.3 인쇄 광고 디자인\n단순 시안 (50만 원 ~ 150만 원): 기본 이미지 및 텍스트 기반 디자인, 2회 수정\n고급 시안 (200만 원 ~ 500만 원): 전용 사진 촬영 또는 일러스트 제작 포함, 카피라이팅, 3회 이상 수정\n3. 통합 마케팅 컨설팅 및 캠페인 관리\n단순 집행을 넘어, 성공적인 캠페인을 위한 전략 수립부터 성과 분석까지 통합 솔루션을 제공합니다.\n3.1 프로젝트 기반 컨설팅\n비용: 500만 원부터 (프로젝트 규모 및 기간에 따라 협의)\n서비스: 시장 분석, 타겟 설정, 매체 전략 수립(Media Mix), 크리에이티브 방향성 제시, 캠페인 성과 측정 및 보고서 제공\n3.2 월간 리테이너 서비스\n비용: 월 300만 원부터\n서비스: 지속적인 미디어 환경 분석 및 트렌드 리포트 제공, 상시 광고 전략 자문, 매체 집행 최적화 관리\n진행 절차 및 견적 문의\n무료 상담: 캠페인 목표, 타겟, 예산 등 기본 정보 파악\n전략 제안: 맞춤형 매체 및 제작 전략, 상세 견적서 전달\n계약 및 실행: 계약 체결 후 광고 제작 및 매체 집행 진행\n성과 보고: 캠페인 종료 후 결과 분석 및 인사이트 보고\n정확한 견적은 귀사의 구체적인 상황과 목표를 바탕으로 한 심층 상담 후에 제공됩니다. 언제든 편하게 문의해 주시기 바랍니다.\n문의처: 02-123-4567\n이메일: contact@yourmedia.com\n\t\n"
        }
      }
    ],
    "Message a model3": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "## 멀티미디어 콘텐츠 컨설팅 전문가 김민준입니다.\n\n클라이언트님의 '내 숨을 위한 한 평의 숲' 공익 캠페인의 성공적인 런칭을 위해 소셜 미디어 영상 콘텐츠 기획안을 제안 드립니다. 20년간의 노하우를 바탕으로, 제시된 예산 효율성과 캠페인 목표를 최우선으로 고려하여 깊은 울림과 참여를 이끌어낼 수 있는 전략을 수립했습니다.\n\n---\n\n### [클라이언트 정보]\n\n*   **브랜드명 (업종):** 초록숲 재단 (공익재단)\n*   **타겟:** 일반 시민 (연대감, 희망 고취, 능동적 참여 유도)\n\n### [캠페인 정보]\n\n*   **캠페인명:** '내 숨을 위한 한 평의 숲' 공익 캠페인\n*   **목표:** 단순한 정보 전달을 넘어, 시민 개개인의 '연대감'과 '희망'을 고취시켜 '나도 참여해볼까?'라는 능동적인 참여 의지 유도\n*   **예산:** 5,000만 원 (VAT 별도) - 전체 캠페인 예산 (TV, 라디오 제작 및 송출, 기획 등 포함)\n*   **기간:** 2025년 12월 8일 캠페인 런칭 이후 지속\n\n### [클라이언트 요청사항]\n\n*   TV, 라디오 매체 전반의 깊이 있는 전문성과 실행력 활용\n*   시민 개개인의 '연대감'과 '희망'을 고취하고 '능동적 참여' 유도\n*   \"숨결이 모여 숲이 될 때\"라는 핵심 메시지 및 크리에이티브 콘셉트 유지\n*   진정성 있고 따뜻한 다큐멘터리 형식의 톤앤매너 유지\n*   5천만 원이라는 한정된 예산 내에서 TV 및 라디오 광고 제작과 송출을 효과적으로 진행\n*   방송사 공익광고(PSA) 시간 확보 및 미디어 후원/협찬 적극 유치 전략에 대한 신뢰 유지\n*   TV 광고의 오디오를 활용하는 등 전략적인 접근을 통해 예산 효율성 극대화\n\n---\n\n### [홍보 제품 특징 (캠페인 USP)]\n\n| USP 구분   | 내용                                                                                                                              |\n| :--------- | :-------------------------------------------------------------------------------------------------------------------------------- |\n| **목표 지향성** | 단순 정보 전달을 넘어 시민의 '연대감', '희망'을 고취하고 '나도 참여'라는 능동적 참여 의지를 유도하는 명확한 목표                                |\n| **감성적 메시지** | \"숨결이 모여 숲이 될 때\"라는 따뜻하고 희망적인 메시지를 통해 개인의 작은 기여가 큰 변화를 만든다는 감동적인 스토리 전달                      |\n| **콘텐츠 형식** | 평범한 시민들의 이야기를 다루는 진정성 있고 따뜻한 다큐멘터리/인터뷰 형식으로 기획되어 공감대 및 신뢰 형성                                 |\n| **예산 효율성** | 5천만 원이라는 한정된 예산 내에서 TV/라디오 광고 제작 및 송출을 우선하면서도, 미디어 후원/협찬 및 기존 자산 활용을 통한 효율적인 예산 운용 전략 |\n| **미디어 전략** | 방송사 공익광고(PSA) 시간 확보 및 미디어 후원/협찬 유치 등 유어미디어의 강력한 네트워크와 '명분 활용' 전략을 통해 노출 효과 극대화            |\n\n---\n\n### [콘텐츠 기획: 소셜 미디어 영상 콘텐츠 방향성]\n\n기존 TV 광고 제작 예산을 효율적으로 활용하고, 클라이언트의 캠페인 목표(연대감, 희망 고취, 참여 유도) 및 톤앤매너(진정성, 따뜻함, 다큐멘터리)를 소셜 미디어 환경에 최적화하여 구현하는 세 가지 방향성을 제안 드립니다. 전체 캠페인 예산을 고려하여 최소한의 추가 비용으로 최대 효과를 낼 수 있도록 기존 TV 및 라디오 광고 자산을 적극 활용하는 방안에 중점을 두었습니다.\n\n| 구분                  | 방향성 1: 'TVC 온에어!' 핵심 메시지 재가공                                                                                   | 방향성 2: '숨결이 닿은 사람들' 숏폼 인터뷰                                                                                    | 방향성 3: '#나의한평숨' 챌린지 & 참여 독려                                                                            |\n| :-------------------- | :--------------------------------------------------------------------------------------------------------------------------- | :---------------------------------------------------------------------------------------------------------------------------- | :-------------------------------------------------------------------------------------------------------------------- |\n| **콘셉트**            | 메인 TV 광고의 감동과 핵심 메시지를 짧고 강렬하게 압축하여, 소셜 미디어에 최적화된 형식으로 빠르게 확산                                   | TV 광고에서 다루지 못한 다양한 '시민'들의 소소하고 진솔한 이야기를 숏폼 인터뷰 형식으로 담아내 연대감 극대화                     | 사용자의 직접적인 참여를 유도하는 챌린지형 콘텐츠를 통해 캠페인의 확산과 참여율 증대                                        |\n| **주요 내용**         | - 30초 TV 광고의 핵심 장면과 내레이션을 15-30초 내외로 재편집<br>- 강렬한 도입부와 명확한 CTA(Call-to-Action) 추가<br>- 자막 및 그래픽 효과 강화 | - \"나에게 숲이란?\", \"나의 숨이 숲이 된다면?\" 등 질문에 대한 시민들의 솔직한 답변<br>- 일상 속에서 숲과 관련된 소소한 행동 (화분 가꾸기 등)<br>- TV 광고 메이킹 필름 일부 활용 | - \"나의 숨을 위한 작은 행동\" 또는 \"숲에 대한 나의 생각\"을 짧은 영상으로 공유하는 챌린지<br>- 참여 방법을 쉽고 명확하게 제시<br>- 캠페인 관련 퀴즈/정보성 콘텐츠 (예: 숲의 효용) |\n| **USP 연결**          | **감성적 메시지, 콘텐츠 형식, 예산 효율성:** 기존 TVC의 고품질 메시지를 활용하여 적은 비용으로 높은 퀄리티와 일관성 유지                 | **목표 지향성, 콘텐츠 형식, 감성적 메시지:** 다큐멘터리 형식과 유사하게 진정성 있는 시민 스토리로 참여 의지 및 연대감 증폭       | **목표 지향성, 예산 효율성:** 사용자 참여를 통해 캠페인 확산 및 능동적 참여 유도, 콘텐츠 제작 비용 절감 효과               |\n| **주요 플랫폼**       | Instagram Reels/Stories, TikTok, YouTube Shorts, Facebook Video                                                              | Instagram Reels/Stories, TikTok, YouTube Shorts, Facebook Video                                                               | Instagram Reels/Stories, TikTok, Facebook Video                                                                       |\n| **게시 빈도**         | 캠페인 런칭 초기 주 2~3회 집중 게시 후, 주 1회 이상 지속                                                                        | 주 1회 (시리즈 형식으로 꾸준히 업로드)                                                                                       | 챌린지 시작 시 집중 게시 (주 2~3회), 이후 참여 독려 주 1회                                                             |\n| **영상 길이**         | 15초 ~ 30초 (플랫폼별 최적화)                                                                                                | 15초 ~ 45초 (숏폼 인터뷰 형식)                                                                                               | 10초 ~ 20초 (챌린지 참여 가이드 및 예시 영상)                                                                         |\n| **예상 소요 비용**    | **(낮음)** 기존 TV 광고 소스를 활용한 재편집 및 추가 그래픽 작업.                                                              | **(중간)** 별도 숏폼 촬영/인터뷰 진행 (저비용 장비 및 최소 인력 활용), 기존 TV 광고의 인터뷰 노하우 적용.                      | **(낮음)** 챌린지 기획 및 가이드 영상 제작 (최소한의 비용). UGC 활용으로 추가 제작 비용 없음.                             |\n\n---\n\n이 기획안은 클라이언트님의 '내 숨을 위한 한 평의 숲' 캠페인이 소셜 미디어에서도 강력한 공감과 참여를 이끌어낼 수 있도록 고안되었습니다. 제시된 방향성들은 기존 TV 광고 자산을 최대한 활용하면서도 소셜 미디어 특성에 맞는 최적화된 콘텐츠를 제공하여 예산 효율성과 캠페인 목표 달성이라는 두 마리 토끼를 잡을 수 있을 것입니다.\n\n자세한 내용은 미팅을 통해 더욱 심층적으로 논의할 수 있기를 기대합니다.\n감사합니다."
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Update a document3": [
      {
        "json": {
          "documentId": "1Wnz7Rn2cKpgK-f7_jiUnI2eVvb65tl1F8X17CERauCs"
        }
      }
    ],
    "Create a document3": [
      {
        "json": {
          "kind": "drive#file",
          "id": "1Wnz7Rn2cKpgK-f7_jiUnI2eVvb65tl1F8X17CERauCs",
          "name": "ideA_CONTENTS",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ],
    "Copy file3": [
      {
        "json": {
          "kind": "drive#file",
          "id": "10Ot0006Z95cbhe6mEoPTqy74Eiy4_l8UPMbphWGh_zM",
          "name": "trigger_send_email_회의록",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get a document3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document3": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document3": {
      "main": [
        [
          {
            "node": "Update a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document4": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Create a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document4": {
      "main": [
        [
          {
            "node": "Update a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Aggregate11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me5": {
      "main": [
        [
          {
            "node": "Move file5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Get a document5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate10": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate11": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document5": {
      "main": [
        [
          {
            "node": "Update a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file1": {
      "main": [
        [
          {
            "node": "Get a document6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document2": {
      "main": [
        [
          {
            "node": "Copy file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document6": {
      "main": [
        [
          {
            "node": "Copy file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file2": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document3": {
      "main": [
        [
          {
            "node": "Copy file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file3": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16cbe76e-1338-48bd-ac23-fe8cb9c1980f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ead1b3407b12428ae05e02b93543b6b286dfa5499346a84cf7f90190e92a1d02"
  },
  "id": "h3ODz0jvsJnVfFFd",
  "tags": []
}