quests/quests16_multimedia_images.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "이미지와 프롬포트를 넣어주세요",
        "formDescription": "알아서 만들어서, 구글 드라이브에 업로드 해줍니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "prompt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "efcf21c2-7d7f-4db4-9a02-ebebefa2b3b6",
      "name": "On form submission",
      "webhookId": "e9037ce3-de6d-430d-81e2-faf053c7c3a9"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "0e8b7532-1c3a-4d4e-96c0-c791df162b2f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyA_TvTlGwHQ1w0f-pSHgZp7R6Pl6vOww9o"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('On form submission').item.json.prompt }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "702f8fd4-f246-4ea4-9261-5b843adc2062",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "bc8856d9-2f91-4ee4-bb93-e491995ff6a7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('On form submission').item.json.prompt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1ZQsTmPtN-f33cYyRCJfAU-o_yXhLYtkg",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "8fbbadad-6674-40b3-b972-da4d8b4829fb",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tR1TYWrtBmIIkPTM",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "629210a1-b95b-4035-9ca9-e89dfd8c1bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6a4f5423e304334bf7b4fd5850b972e7c498301bd4a10979f26ee4e101fb4fe"
  },
  "id": "QwH9vkSfflOC0loy",
  "tags": []
}